.box{
    border: 2px solid red;
    margin-bottom: 1rem;
    height: 12rem;
}
.box1 {
    background-color: aquamarine;
    overflow: visible;

}
.box2{

    overflow: hidden;
}
.box3{
    overflow: scroll;
}
.box4{
    overflow: auto;
}